sample.dtd

<!ENTITY name "FactualityHighlighter_v1.0">

<!-- #PCDATA makes a extend tag-->
<!ELEMENT event ( #PCDATA )>
<!ELEMENT source ( #PCDATA )>
<!ELEMENT factuality ( #PCDATA )>
<!ELEMENT emotion ( #PCDATA )>

<!ELEMENT LinkEvent EMPTY>

<!ATTLIST factuality value (-2 | -1 | 0 | +1 | +2 ) #REQUIRED>
<!ATTLIST emotion value (positive | negative | emphatic | neutral ) #REQUIRED>
