sample.dtd

<!ENTITY name "FactualityHighlighter_v1.0">

<!-- #PCDATA makes a extend tag-->
<!ELEMENT event ( #PCDATA )>
<!ELEMENT source ( #PCDATA )>
<!ELEMENT factuality ( #PCDATA )>
<!ELEMENT emotion ( #PCDATA )>

<!ELEMENT LinkEvent EMPTY>

<!ATTLIST factuality attribute1 (-2 | -1 | 0 | 1 | 2 ) #IMPLIED>
<!ATTLIST emotion attribute2 (positive | negative | emphatic | neutral ) #IMPLIED>
