sample.dtd

<!ENTITY name "FactualityHighlighter_v1.0">

<!-- #PCDATA makes a extend tag-->
<!ELEMENT Event ( #PCDATA )>
<!ELEMENT Source ( #PCDATA )>
<!ELEMENT Factuality ( #PCDATA )>
<!ELEMENT Emotion ( #PCDATA )>

<!ELEMENT LinkEvent EMPTY>

<!ATTLIST Factuality value (-2 | -1 | 0 | +1 | +2 ) #REQUIRED>
<!ATTLIST Emotion value (positive | negative | emphatic | neutral ) #REQUIRED>
